# Mid Exam: Cassandra Python Programming
## Sudeshna Mullaguru - U1172-3314
### Description : Using a python notebook, generate a file by creating a file and adding random text to this file

In [3]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [4]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra

In [5]:
session.execute("DROP KEYSPACE IF EXISTS midpython")

In [6]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [7]:
session.execute("CREATE KEYSPACE IF NOT EXISTS midpython WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':5}")

In [8]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

midpython
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

Create a table for testing

In [1]:
session.execute("""
CREATE TABLE IF NOT EXISTS midpython.table( 
    user_id INT PRIMARY KEY, 
    date INT, 
    file_type TEXT,
    file_location TEXT
    file Text
    content TEXT
    PRIMARY KEY(user_id)
    );
""")

NameError: name 'session' is not defined

### Load data

In [34]:
df = pd.read_csv('data1.csv')

    sku             name description  warehouse_num
0  1000         'iPhone'     'Apple'              1
1  1001     'Galaxy S21'   'Samsung'              2
2  1002        'Pixel 5'    'Google'              3
3  1003  'OnePlus 9 Pro'   'OnePlus'              4
4  1004   'Xiaomi Mi 11'    'Xiaomi'              1